{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}

{% block content %}
<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    {% if notify %}
    {% if notify.type=='SUCCESS' %}
    <section class="w-1/4 bg-white absolute top-1 right-1 shadow-2xl hideMe p-2 font-bold border-l-4 border-green-400">
        <div class="text-md">{{notify.message}}</div>
        {% if notify.submsg %}
        <span class="font-light text-sm text-gray-700">{{notify.submsg}}</span>
        {% endif %}
    </section>
    {% else %}
    <section class="w-1/4 bg-white absolute top-1 shadow-2xl right-1 hideMe p-2 font-bold border-l-4 border-red-400">
        <div>{{notify.message}}</div>
        {% if notify.submsg %}
        <span class="font-light text-gray-700">{{notify.submsg}}</span>
        {% endif %}
    </section>
    {% endif %}
    {% endif %}
    <section>
        <h3 class="font-bold text-2xl">Welcome to Green</h3>
        <p class="text-gray-600 pt-2">Login to your account.</p>
    </section>

    <section class="mt-10">
        <form class="flex flex-col" method="POST" action="">
            <div class="space-y-3">
                <input required type="email" name="email" id="email" placeholder="Email"
                    class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 py-2">
                <input required type="password" name="password" id="password" placeholder="Password"
                    class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 py-2">
                <div class="flex justify-end">
                    <a href="#" class="text-sm text-purple-600 hover:text-purple-700 hover:underline mb-6">Forgot
                        your
                        password?</a>
                </div>
            </div>
            <button
                class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
                type="submit">Sign In</button>
        </form>
    </section>
</main>

<div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">Don't have an account? <a href="signup" class="font-bold hover:underline">Sign
            up</a>.
    </p>
</div>
{% endblock content %}